<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <title>Log In Blog</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="styles/main-style.css">
         
        <!-- bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
         
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="">
    </head>
     
    <body>
        <div class="container-fluid">
            <div class="row content">
              <div class="col-sm-2 sidenav">
                
                <include href="view/includes/sidebar.inc.html" />
                
              </div>
          
              <div class="col-sm-10">
                
                 <div class="row">
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        <h1>Welcome Back!</h1>
                        <h3>Please Log in Below</h3>
                        </div>
                    </div>
                  </div>
                 </div>
                 
                 <div class="row">
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-sm-6 col-sm-offset-3 login-entry">
                            <form class="form-signin">
                              <label for="inputEmail" class="sr-only">Email address</label>
                              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                              <label for="inputPassword" class="sr-only">Password</label>
                              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                              <button class="btn btn-lg btn-success btn-block login-button" type="submit">Log in</button>
                            </form>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                 </div>
                 
                
              </div>
            </div>
          </div>
    </body>
</html>